.das-carousel {
	display: relative;

	.carousel-title { 
		color: white;
		font-weight: bold;
		opacity: .4;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		top: 50%;
		left: 50%;
		text-shadow: #000 1px 0 10px;
		transform: translate(-50%, -50%);
		z-index: 100; 
	}

	.carousel-caption {
		opacity: .7;
	}
}