.das-list-events {

    @extend .col-sm-10;

    margin: 0 auto;

    .filter-shows {

        margin-bottom: 20px;

        .toggle-buttons, .event-filter-form {
            width: 100%;
        }

        .btn-group-inner {
            display: block;
        }

        .btn-group-label {
            font-weight: bold;
            margin: 0 10px 0;
        }

        label.btn {

            &:not(.active) {
                @extend .btn-light;
            }
            
            cursor: pointer;
            margin: 0 2px 0;

            input[type="radio"], input[type="checkbox"] {
                position: absolute;
                clip: rect(0,0,0,0);
                pointer-events: none;
            }

            .icon:before {
                content: '\f00d';
            }

            &.active {

                @extend .btn-primary;

                .icon:before {
                    content: '\f14a';
                }
            }

            @include media-breakpoint-down(sm) {
                margin-bottom: 10px;
            }

        }

        @include media-breakpoint-down(sm) {

            .btn-group-inner {
                display: flex;
                flex-direction: column;
                align-items: start;
            }

            .btn-group-label {
                margin: 0;
            }

            &, .btn {
                margin-bottom: 10px;
            }

            label.btn.active, label.btn {
                &:not(:disabled):not(.disabled) {
                    margin-bottom: 0;
                    padding: 0;
                    background-color: transparent;
                    border: 0px;
                    color: $secondary;
                    text-align: left;
                }
            }

        }

    }

    .das-events-day {
        padding: 0;

        .cost {
            font-weight: bold;
            margin-top: 15px;
        }

        .das-event {
            list-style-type: none;
        }

        @include media-breakpoint-down(sm) {

            .wp-post-image {

                margin-bottom: 15px;
                min-width: 100%;

            }

            .das-event {
                padding-bottom: 20px;
            }

        }
    }

}