.navbar {
	background-color: var(--background-inverted);
	border-bottom: var(--text-muted-inverted);
    border-width: 2px;
    border-bottom-style: solid;


	.header-logo {
		max-width: 150px;
	}

	&.navbar-dark {
		.navbar-nav {
			.nav-link:focus {
				color: $navbar-dark-active-color;
			}
		}
	}
}