.featured-image {
	display: none;
	margin-bottom: 20px;

	img {
		min-width: 100%; 
	}

	@include media-breakpoint-down(sm) {
		&.i-small {
			display: block;
		}
		&.i-medium,
		&.i-full {
			display: none;
		}
	}

	@include media-breakpoint-down(md) {
		&.i-medium {
			display: block;
		}
		&.i-small,
		&.i-full {
			display: none;
		}
	}

	@include media-breakpoint-down(xl) {
		&.i-full {
			display: block;
		}
		&.i-small,
		&.i-medium {
			display: none;
		}
	}

}

:root {
	--bg-color: black;
}

.site {
	background-color: var(--bg-color)
}