.page-id-8 { //splash
	background-color: #333;
	color: #fff;

	.navbar {
		display: none;
	}

	img.aligncenter, .entry-content {
		display: block;
		margin: 0 auto;
	}

	img.aligncenter {
		margin-bottom: 40px;
	}

	.entry-content {
		max-width: 500px;
	}

	h2 {
		color: $blue;
	}

	a {
		color: $pink;
	}
}

.mc4wp-alert {
	color: $pink;
}

.adBanner {
    background-color: transparent;
    height: 1px;
    width: 1px;
}