/*

Theme Name: Das 2023  
Theme URL: http://dasimprovfestival.com
Description: Understrap Child Theme
Author: Caroline Clifford
Template: understrap
Version: 1.0.0
Text Domain: das2023


*/  

.a {
    --logo-image: url('https://adriandoonan1.gitlab.io/sunday-jam-hosts-view/img/a.png');
    --text: #333333;
    --text_muted: #696969;
    --text_inverted: white;
    --text_muted_inverted: white;
    --interaction_item: #5867c9;
    --interaction_item_highlight: #8682d1;
    --interaction_item_accent: #5B67C3;
    --interaction_item_inverted: #e54f2e;
    --interaction_item_inverted_highlight: #f2c85e;
    --interaction_item_inverted_accent: green;
    --interaction_item_inverted_active: #f2c85e;
    --background: #000;
    --background_highlight: #5B67C3;
}